<label><input name="lista_personas" type="checkbox" (click)="verLista()"/> Mostrar lista de personas</label>
<div *ngIf = "mostList">
<app-personas [persona] = 'persona' *ngFor = 'let persona of personas' (click)="verDetalles(persona)"></app-personas>
<label><input name="detalles" type="checkbox" (click)="ocultarDetalles()"/> Mostrar detalles de personas</label>
<div [ngStyle] = "{'visibility' : mostDet ? 'visible' : 'hidden'}">
<app-detalles [persona] = 'personaM'></app-detalles>
</div>
</div>
